target/
!.mvn/wrapper/maven-wrapper.jar

# Test folder
src/main/java/com/mj/test

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
pom.xml
src/main/java/com/mj/easy/
src/main/java/com/mj/test/
src/test/
